* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.App {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: row;
}
.App .buttons-container {
  display: flex;
  flex-direction: row;
}
.App h1 {
  color: #000;
  font-size: 7rem;
  margin: 0 0 20px;
}
.App h1.plus {
  color: #2a9d8f;
}
.App h1.minus {
  color: #e63946;
}
.App h2 {
  font-size: 2rem;
  margin: 0;
  color: #556581;
}
.App button {
  background: transparent;
  border: 2px solid transparent;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.05s ease-in-out;
}
.App button.button-hide {
  background-color: #c470de;
  color: #fff;
  box-shadow: 0 4px 0 #9741af;
  border: 1px solid #a447d5;
}
.App button.button-common {
  background-color: #d5757b;
  color: #fff;
  box-shadow: 0 4px 0 #ae5259;
  border: 1px solid #f35765;
}
.App button.minus {
  display: flex;
  background-color: #e63946;
  color: #fff;
  box-shadow: 0 4px 0 #d21a28;
  border: 1px solid #bb1824;
}
.App button.plus {
  display: flex;
  background-color: #2a9d8f;
  color: #fff;
  box-shadow: 0 4px 0 #1f756a;
  border: 1px solid #1a6158;
}
.App button:hover {
  transform: translateY(-2px);
}
.App button:active {
  transform: translateY(2px);
  box-shadow: none;
}
.App .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}
.App .close-button:hover {
  /*rotate: 50deg;*/
  transition-duration: 0.5s;
  transition: ease-in-out;
  font-size: 28px;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.App .component-one {
  justify-content: center;
  top: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
.App .place-me-center {
  justify-content: center;
  position: absolute;
}
.App .open-modal {
  position: relative;
  top: 200px;
  flex-direction: row;
  /*justify-content: center;*/
  background: #fff;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.App .open-modal:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.App .open-modal:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
.App .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.App .modal {
  background-color: #fff;
  width: 70%;
  max-width: 500px;
  max-height: 300px;
  padding: 40px 30px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}
.App .modal img {
  border-radius: 5px;
  width: 100%;
}
.App .modal img:hover {
  opacity: 1;
}
.App .overlay.animated {
  opacity: 0;
  visibility: hidden;
}
.App .overlay.animated .modal {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -30%);
  transition-delay: 0.2s;
}
.App .overlay.animated.show {
  opacity: 1;
  visibility: visible;
}
.App .overlay.animated.show .modal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=index.css.map */
